[submodule "Rmiter"]
	path = Rmiter
	url = https://github.com/huming2207/Rmiter
[submodule "YahooWeatherDotNet"]
	path = YahooWeatherDotNet
	url = https://github.com/huming2207/YahooWeatherDotNet.git
